* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 74em;
    margin: 0 auto;
}

header {
    height: 9em;
}

#logo {
    width: 14%;
    padding-right: 1.2em;
    border-right: 1px solid #e5e5e5;
}

li {
    display: inline-block;
    list-style: none;
    font-size: .9em;
    text-transform: uppercase;
    margin-top: 2.5em;
    padding-right: 1em;
}

a {
    text-decoration: none;
}

.nav {
    color: #878787;
}

.slider,
.overlay-slider {
    height: 31em;
    width: 100%;
    border-radius: 1em;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}

.slider {
    margin-top: 1.75em;
    display: inline-block;
    background-image: url(../img/banner.jpg);
}

.overlay-slider {
    background-color: rgba(0,0,0,0.2);
    padding: 20em 35em 0em 3em;
}

.lnk-sldr {
}

.lnk-sldr>h2,
.lnk-sldr>p  {
    color: #ffffff;
}

.container-main {
    margin-top: 1.75em;
}

.little-header {
    margin-top: 0;
    height: 5.5em;
}

h1 {
    font-size: 2.2em;
    font-weight: 700;
}

.little-header>p {
    color: #878787;
}

.sidebar,
.content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    float: left;
}

.sidebar {
    width: 20%;
}

.content{
    margin-left: 1.2em;
    margin-right: 1.2em;
    width: calc(60% - 2.4em);
}

.container-main::after{
    content: "";
    display: table;
    clear: both;
}

.img-side {
    display: inline-block;
}

.img-side,
.overlay-side {
    width: 100%;
    height: 13em;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    margin-bottom: 1.2em;
    
}

.overlay-side {
    background-color: rgba(0,0,0,0.2);
}

.left {
    background-image: url(../img/img-1.jpg);
}

.right {
    background-image: url(../img/img-3.jpg);
}

h3 {
    font-weight: 500;
    margin-bottom: .5em;
}

.img-center {
    display: inline-block;
    background-image: url(../img/banner-2.jpg);
}

.img-center,
.overlay-center {
    width: 100%;
    height: 13em;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    margin-bottom: 1.2em;
}

.overlay-center {
    background-color: rgba(0,0,0,0.2); 
}

footer {
    width: 100%;
    margin: .5em auto 0;
    line-height: 4em;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.red {
    color: red;
}